h1 {
  margin: 1em 0 2em 1em;
}

section {
  margin: 0 1em;
}

.kitty-chan {
  width: 500px;
  height: 300px;
  margin: 300px auto 0 auto;
  background-image: url('http://placekitten.com/g/500/300');
}