h2 {
  margin: 1em 0 1em 1em;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.8em;
  line-height: 1;
}

body {
	background: #f6f6f6;
}

section {
  margin: 0 1em;
}

body, section {
	margin: 0;
}

.kitty-chan {
  width: 503px;
  height: 403px;
  margin: 300px auto 0 auto;
  background-image: url('/images/rainbows-cat.jpg');
}